# be sure to rename this file to hosts

# Example: A collection of database servers in the 'dbservers' group

## [dbservers]
## 
## db01.intranet.mydomain.net
## db02.intranet.mydomain.net
## 10.25.1.56
## 10.25.1.57

# Here's another example of host ranges, this time there are no
# leading 0s:

## db-[99:101]-node.example.com

[windows-servers]
server1                         #Enter the server name if there is DNS resolution available
server2 ansible_host=10.x.x.x   #Explicity indicate IP address if there is no DNS resolution
server3